<div class="admin__field admin__field-option">
    <input type="radio"
           class="admin__control-radio"
           simple-checked="checked"
           ko-disabled="disabled"
           ko-focused="focused"
           ko-value="value"
           click="onClick"
           attr="id: uid, name: inputName, 'data-index': index"/>
    <label class="admin__field-label" text="description" attr="for: uid"/>
</div>
