<?php
// @codingStandardsIgnoreFile
//"swatchRenderer": {
?>
<?php /** @var $block Sample\ConfigurablePreselect\Block\Product\Renderer\Configurable */ ?>
<?php $isEnabled = $block->getStoreConfig('catalog/configurable_preselect/enable'); ?>

<div class="swatch-opt<?= $isEnabled ? ' preselected' : '' ?>" data-role="swatch-options"></div>

<?php if ($isEnabled && $block->getPreselectOptionId()) : ?>
<script type="text/x-magento-init">
    {
        "[data-role=swatch-options]": {
            "Magento_Swatches/js/swatch-renderer": {
                "jsonConfig": <?= /* @escapeNotVerified */
        $swatchOptions = $block->getJsonConfig() ?>,
                "jsonSwatchConfig": <?php /* @escapeNotVerified */
        echo $swatchOptions = $block->getJsonSwatchConfig(); ?>,
                "mediaCallback": "<?= /* @escapeNotVerified */
        $block->getMediaCallback() ?>",
                "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy', 'Magento_ConfigurableProduct') ?: 'replace'; ?>",
                "jsonSwatchImageSizeConfig": <?php /* @noEscape */ echo $block->getJsonSwatchSizeConfig() ?>,
                "preSelectedOption": <?php echo/* @noEscape */ $block->getPreselectOptionId() ?>,
                "updateProductName": <?php echo $block->getStoreConfig('catalog/configurable_preselect/update_product_name') ?> ,
                "productNamePosition": "<?php echo $block->getStoreConfig('catalog/configurable_preselect/product_name_position') ?>",
                "updateProductSku": <?php echo $block->getStoreConfig('catalog/configurable_preselect/update_product_sku') ?> ,
                "productSkuPosition":"<?php echo $block->getStoreConfig('catalog/configurable_preselect/product_sku_position') ?>",
                "updateProductShortDescription": <?php echo $block->getStoreConfig('catalog/configurable_preselect/update_product_short_description') ?> ,
                "productShortDescriptionPosition":"<?php echo $block->getStoreConfig('catalog/configurable_preselect/product_short_description_position') ?>",
                "updateProductDescription": <?php echo $block->getStoreConfig('catalog/configurable_preselect/update_product_description') ?> ,
                "productDescriptionPosition":"<?php echo $block->getStoreConfig('catalog/configurable_preselect/product_description_position') ?>",
                "updateMoreInformationBlock": <?php echo $block->getStoreConfig('catalog/configurable_preselect/update_more_information_block') ?> ,
                "updateMoreInformationBlock_position":"<?php echo $block->getStoreConfig('catalog/configurable_preselect/update_more_information_block_position') ?>"
            }
        },
        "*" : {
            "Magento_Swatches/js/catalog-add-to-cart": {}
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "[data-role=swatch-options]": {
            "Magento_Swatches/js/swatch-renderer": {
                "jsonConfig": <?= /* @escapeNotVerified */
            $swatchOptions = $block->getJsonConfig() ?>,
                "jsonSwatchConfig": <?php /* @escapeNotVerified */
            echo $swatchOptions = $block->getJsonSwatchConfig(); ?>,
                "mediaCallback": "<?= /* @escapeNotVerified */
            $block->getMediaCallback() ?>",
                "gallerySwitchStrategy": "<?php /* @escapeNotVerified */
            echo $block->getVar(
                'gallery_switch_strategy',
                'Magento_ConfigurableProduct'
            ) ?: 'replace'; ?>",
                "jsonSwatchImageSizeConfig": <?php /* @noEscape */ echo $block->getJsonSwatchSizeConfig() ?>
            }
        },
        "*" : {
            "Magento_Swatches/js/catalog-add-to-cart": {}
        }
    }
</script>
<?php endif; ?>